@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Table of Content */
/* --------------------------------------------- 1. Global Styles ------------------------------------------------ */

:root {
  --dark-bg: #1f2937;
  --main-text: #f9faf8;
  --sec-text: #e5e7eb;
  --button: #3882f6;
  --button-light: #8db9ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.3;
}

/* --------------------------------------------- 2. Typography --------------------------------------------------- */

h1,
h2,
h3,
h4,
p,
button,
a {
  font-family: 'Open Sans', sans-serif;
  color: var(--main-text);
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: var(--dark-bg);
}

h4 {
  font-size: 24px;
}

a,
p {
  text-decoration: none;
  color: var(--sec-text);
  font-size: 18px;
}

/* --------------------------------------------- 3. Layout ------------------------------------------------------- */
.container {
  width: 70vw;
  margin: auto;
}

button {
  background-color: var(--button);
  border: none;
  padding: 7px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 0.5em;
  width: 150px;
  cursor: pointer;
}

button:hover {
  background-color: var(--button-light);
  color: var(--dark-bg);
}

/* --------------------------------------------- 4. Areas -------------------------------------------------------- */
/* --------------------------------------------- 4.1 Navigation Bar ---------------------------------------------- */

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.nav-links {
  display: flex;
  gap: 40px;
}

/* --------------------------------------------- 4.2 Banner ------------------------------------------------------ */

header {
  background-color: var(--dark-bg);
}

.banner {
  margin-top: 100px;
  display: flex;
  gap: 100px;
  padding-bottom: 140px;
  align-items: center;
}

.banner h2,
.banner p,
.banner button {
  margin: 10px;
}

/* --------------------------------------------- 4.3 Icon section ------------------------------------------------ */
.icons h2 {
  color: var(--dark-bg);
  font-size: 36px;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

.icon-container {
  display: flex;
  flex-direction: row;
  width: 50vw;
  gap: 40px;
  justify-content: center;
}

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icon p {
  text-align: center;
  color: var(--dark-bg);
}

.square {
  height: 180px;
  width: 180px;
  border: var(--button) 5px solid;
  border-radius: 1em;
}

/* --------------------------------------------- 4.4 Quote section ----------------------------------------------- */
.quote {
  background-color: rgb(235, 235, 235);
  margin: 80px 0;
}

.quote-section {
  padding: 100px 0;
  width: 50vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quote-section p {
  color: var(--dark-bg);
  font-weight: bold;
  align-self: flex-end;
  font-size: 24px;
}

/* --------------------------------------------- 4.5 Signup section ---------------------------------------------- */
.signup {
  background-color: var(--button);
  padding: 60px;
  border-radius: 0.5em;
  margin: 150px auto;
}

.signup-container {
  width: 50vw;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.signup button {
  border: var(--main-text) 3px solid;
}

/* --------------------------------------------- 4.6 Footer ------------------------------------------------------ */
footer {
  background-color: var(--dark-bg);
  padding: 40px;
}

footer p {
  text-align: center;
}

/* --------------------------------------------- 5. Media Queries ------------------------------------------------ */

@media only screen and (max-width: 1200px) {
  /* ---------- 2. Typography ---------- */
  h1,
  h3 {
    font-size: 26px;
  }

  h2 {
    font-size: 36px;
  }

  h4 {
    font-size: 16px;
  }

  p,
  li,
  a,
  label {
    font-size: 14px;
    /* font-weight: bold; */
  }
  /* ------------- 3. Layout -------------- */

  .container {
    width: 80vw;
    margin: auto;
  }

  /* ------------- 4.1 Navbar ------------- */

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    padding-top: 10px;
  }

  .nav-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    font-weight: bold;
  }
  /* ------------- 4.2 Banner ------------- */
  .banner img {
    display: none;
  }

  header {
    width: 100vw;
  }

  .banner {
    margin-top: 50px;
    display: flex;
    gap: 100px;
    padding-bottom: 80px;
    align-items: center;
  }

  /* ------------- 4.3 Icon Section ------- */

  .icons h2 {
    font-size: 28px;
    text-align: center;
  }

  .icons {
    width: 90vw;
    margin: 50px auto 80px auto;
  }

  .icon-container {
    flex-wrap: wrap;
    width: 80vw;
  }

  .icon {
    flex-basis: 20%;
  }

  .square {
    height: 120px;
    width: 120px;
  }

  /* ------------- 4.4 Quote Section ------ */
  .quote {
    background-color: rgb(235, 235, 235);
    margin: 80px 0;
  }

  .quote-section {
    width: 80vw;
    gap: 20px;
  }

  .quote-section p {
    font-size: 16px;
  }

  /* ------------- 4.5 Signup Section ----- */

  .signup {
    padding: 30px;
    margin: 100px auto;
  }

  .signup-container {
    gap: 20px;
    flex-direction: column;
  }

  .signup button {
    font-size: 14px;
    padding: 5px;
    width: 100px;
  }

  /* ------------- 4.6 Footer ------------- */
  footer {
    padding: 30px;
  }
}
